.page-contacts,
.page-template-contacts {
  .wrapper {
    background: url('../img/contacts_bg.png') center center no-repeat;
    height: 1065px;
    min-height: unset;

    @include sm {
      height: auto;
      background: linear-gradient(180deg, #123652 0, #101a2d 100%);
    }
  }
}

.contacts {
  margin-top: 75px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 80px;

    @include lg {
      gap: 30px 50px;
    }

    @include md {
      gap: 30px;
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    color: var(--color-white);
    font-size: 30px;
    line-height: 44px;
    font-weight: 800;
    text-transform: uppercase;

    @include md {
      font-size: 24px;
      line-height: 1.2;
    }
  }

  &__left {
    max-width: 420px;

    @include md {
      max-width: unset;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;

    @include sm {
      gap: 30px;
    }
  }
}

.call-contacts {
  margin-top: 50px;

  @include md {
    margin-left: 0;
  }

  &__top {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
  }

  &__bottom {
    margin-top: 30px;
    padding-left: 100px;

    @include sm {
      padding-left: 0;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--color-white);
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      background-image: url('../img/footer-icon-circle1.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon1 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 80px;
      background-image: url('../img/footer-icon-circle2.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon2 4s linear infinite;
    }
  }

  &__text {
    color: var(--color-lynch);
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__phone {
    display: block;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
      border-color: currentColor;
      transition: border 0.3s;
    }
  }

  &__button {
    background: linear-gradient(180deg, #3da9ef 0, #0282d5 100%);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.25);
    height: 69px;
    text-align: center;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--color-white);
    filter: drop-shadow(0 4px 0 #045d97);
    padding: 0 30px;
    transition: 0.3s;

    &:hover {
      filter: drop-shadow(0 4px 0 #045d97)
        drop-shadow(0 4px 5px rgba(2, 143, 234, 0.75));
    }
  }
}

.address-contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--color-white);
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      background-image: url('../img/footer-icon-circle1.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon1 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 80px;
      background-image: url('../img/footer-icon-circle2.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon2 4s linear infinite;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-lynch);
  }

  &__link {
    margin-top: 15px;
    color: var(--color-white);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.email-contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--color-white);
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      background-image: url('../img/footer-icon-circle1.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon1 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 80px;
      background-image: url('../img/footer-icon-circle2.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon2 4s linear infinite;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--color-lynch);
  }

  &__link {
    margin-top: 15px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 240px;
    display: block;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
      border-color: currentColor;
      transition: border 0.3s;
    }
  }
}

.social-contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--color-white);
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      background-image: url('../img/footer-icon-circle1.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon1 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 80px;
      background-image: url('../img/footer-icon-circle2.png');
      background-position: center;
      background-size: 100%;
      animation: footer-spinner-icon2 4s linear infinite;
    }
  }

  &__context {
    .social {
      margin-top: 15px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--color-lynch);
  }
}
