.home-seo-car {
  margin-top: 130px;

  @include lg {
    margin-top: 50px;
  }

  &__container {
    position: relative;

    &::before {
      content: attr(data-title);
      font-size: 160px;
      font-weight: 900;
      color: var(--color-black);
      opacity: 0.03;
      text-transform: uppercase;
      line-height: 1;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
      position: absolute;
      top: 0;
      right: -250px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 469px 1fr;
    gap: 50px;

    @include lg {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__left {
  }

  &__right {
  }

  &__photo {
    position: relative;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      left: -265px;
      top: 50px;
      width: 977px;
      height: 402px;
      background: url('../img/home-seo-car_bg.png') center center no-repeat;
      z-index: -1;

      @include md {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    p {
      font-size: 56px;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
      background: linear-gradient(
        to top,
        rgba(2, 143, 234, 0) 0%,
        rgba(2, 143, 234, 0.7) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;

      @include lg {
        font-size: 40px;
      }

      @include sm {
        font-size: 30px;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    color: #202936;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

    @include md {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      &:not(:last-child) {
        margin: 0 0 35px;
      }
    }
  }

  &__model {
    font-size: 200px;
    font-weight: 800;
    line-height: 1;
    background-image: linear-gradient(
      to top,
      rgba(2, 143, 234, 0) 32%,
      rgba(2, 143, 234, 0.15) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;

    @include lg {
      font-size: 150px;
      margin-top: 50px;
    }

    @include md {
      font-size: 120px;
    }

    @include sm {
      font-size: 56px;
    }
  }
}

.why-popular-service {
  margin-top: 100px;
  padding-bottom: 130px;

  @include lg {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  @include sm {
    background: linear-gradient(180deg, #f1f7fb 0, #fff 100%) !important;
  }

  .webp & {
    background: url('../img/why-popular-service_bg.webp') bottom center
      no-repeat;
  }

  .no-webp & {
    background: url('../img/why-popular-service_bg.jpg') bottom center no-repeat;
  }

  &__container {
  }

  &__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    @include sm {
      font-size: 24px;
    }

    span {
      color: var(--color-blue);
    }
  }

  &__text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;

    @include md {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      &:not(:last-child) {
        margin: 0 0 35px;
      }
    }
  }
}
