.auto-selection-city {
  margin-top: -20px;
  height: 1707px;
  padding-top: 280px;

  .webp & {
    background: url('../img/auto-selection_bg--moscow.webp') center center
      no-repeat;
  }

  .no-webp & {
    background: url('../img/auto-selection_bg--moscow.jpg') center center
      no-repeat;
  }

  &__container {
  }

  &__title {
    color: var(--color-white);
  }

  &__text {
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: var(--color-white);

    p {
      &:not(:last-child) {
        margin: 0 0 35px;
      }
    }
  }
}

.home-seo-we-professionals {
  margin-top: 110px;
  height: 1410px;
  padding-top: 140px;

  .webp & {
    background: url('../img/home-seo-we-professionals.webp') center center
      no-repeat;
  }

  .no-webp & {
    background: url('../img/home-seo-we-professionals.jpg') center center
      no-repeat;
  }

  &__container {
  }

  &__title {
    color: var(--color-white);
    font-weight: 600;
  }

  &__stats {
    margin: 70px auto 0;
    width: 100%;
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 320px;
    box-shadow: 0 20px 50px rgba(7, 21, 64, 0.1);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-color);
      padding: 25px 15px;

      &:nth-child(1) {
        --bg-color: var(--color-blue);
        --title-color: var(--color-white);
        --text-color: var(--color-white);
      }

      &:nth-child(2) {
        --bg-color: var(--color-white);
        --title-color: var(--color-blue);
        --text-color: var(--color-black);
      }
    }

    &-title {
      font-size: 80px;
      line-height: 1;
      font-weight: 600;
      color: var(--title-color);
      display: flex;
      align-items: center;

      svg {
        width: 44px;
        height: 44px;
        display: block;
        fill: currentColor;
        margin-left: 5px;
      }
    }

    &-text {
      margin-top: 35px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
      text-transform: uppercase;
      color: var(--text-color);
      text-align: center;

      @include sm {
        margin-top: 20px;
      }
    }

    @include sm {
      margin-top: 50px;
    }

    @include xs {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
}

.home-seo-city {
  margin-top: -500px;
  padding-bottom: 90px;
  height: 992px;
  display: flex;
  align-items: flex-end;

  .webp & {
    background: url('../img/home-seo-city_bg.webp') center center no-repeat;
  }

  .no-webp & {
    background: url('../img/home-seo-city_bg.jpg') center center no-repeat;
  }

  &__container {
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  &__left {
  }

  &__right {
  }

  &__name {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(
      to top,
      rgba(2, 143, 234, 0) 0%,
      rgba(2, 143, 234, 0.7) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  &__map {
    margin-top: -65px;
    position: relative;
    z-index: 1;

    img {
      max-width: 100%;
      display: block;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;

    p {
      &:not(:last-child) {
        margin: 0 0 35px;
      }
    }
  }
}
