// COLORS
:root {
  --color-white: #fff;
  --color-black: #16141c;
  --color-blue: #028fea;
  --color-bali-hai: #8e9bb1;
  --color-lynch: #79879f;
  --color-periwinkle-gray: #ccd7e9;
  --color-mirage: #131925;
}
